<form class="flex flex-col w-full md:max-w-96 gap-4 md:mx-auto">
  <div>
    <label class="label flex gap-2 mb-2 text-sm" for="branchType">
      Branch Type
      <button
        class="btn-ghost cursor-pointer"
        onclick="modal_branch_types.showModal()"
        aria-label="Open modal"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
          />
        </svg>
      </button>
    </label>
    <select
      class="select select-lg ps-3 w-full"
      [(ngModel)]="branchType"
      id="branchType"
      name="branchType"
      required
    >
      <option disabled selected [value]="null">Pick a Branch Type</option>
      @for (branchTypeOption of branchTypeOptions; track $index) {
        <option>{{ branchTypeOption }}</option>
      }
    </select>
  </div>
  <div>
    <label class="label block mb-2 text-sm" for="taskId">Task ID</label>
    <input
      class="input input-lg w-full"
      type="text"
      [(ngModel)]="taskId"
      id="taskId"
      name="taskId"
      placeholder="12345"
    />
  </div>
  <div>
    <label class="label block mb-2 text-sm" for="taskName">Task Name</label>
    <input
      class="input input-lg w-full"
      type="text"
      [(ngModel)]="taskName"
      id="taskName"
      name="taskName"
      placeholder="Implement responsive header navigation"
    />
  </div>
  <div class="mt-4">
    <label class="label block mb-2 text-sm" for="branchName"
      >Generated Branch Name</label
    >
    <div class="flex gap-2">
      <input
        class="input input-lg w-full"
        type="text"
        readonly
        minlength="3"
        [ngModel]="branchName()"
        id="branchName"
        name="branchName"
        placeholder="feat/12345-implement-responsive-header-navigation"
      />
      <button
        class="btn btn-square btn-lg btn-primary"
        [disabled]="branchName().length === 0"
        (click)="copyBranchName()"
        aria-label="Copy branch name"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-[1.2em] shrink-0"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
          />
        </svg>
      </button>
    </div>
  </div>
</form>

<app-toast [isVisible]="isToastVisible()" message="Branch name copied!" />
<app-modal modalId="modal_branch_types"><app-branch-types /></app-modal>
