<div class="navbar bg-base-100 shadow-sm justify-between gap-4">
  <a class="btn btn-ghost text-xl">branch from task</a>
  <a class="btn btn-link" href="https://github.com/mathisvester/branch-from-task" target="_blank" rel="noopener">
    <svg viewBox="0 0 24 24" class="size-[1.6em]">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z">
      </path>
    </svg>
  </a>
</div>

<main class="p-4 flex flex-col justify-center items-center grow-1">
  <form #branchForm="ngForm" class="flex flex-col w-full md:max-w-96 gap-4">
    <div>
      <label class="label flex gap-2 mb-2 text-sm" for="branchType">
        Branch type
        <button class="btn-ghost cursor-pointer" onclick="modal_branch_types.showModal()" aria-label="Open modal">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
          </svg>
        </button>
      </label>
      <select class="select select-lg ps-3 w-full" [(ngModel)]="branchType" id="branchType" name="branchType" required>
        <option disabled selected [value]="null">Pick a branch type</option>
        @for(branchTypeOption of branchTypeOptions; track $index) {
        <option>{{ branchTypeOption }}</option>
        }
      </select>
    </div>
    <div>
      <label class="label block mb-2 text-sm" for="taskId">Task Id</label>
      <input class="input input-lg w-full" type="text" required minlength="3" [(ngModel)]="taskId" id="taskId" name="taskId"
        placeholder="12345" />
    </div>
    <div>
      <label class="label block mb-2 text-sm" for="taskName">Task Name</label>
      <input class="input input-lg w-full" type="text" required minlength="3" [(ngModel)]="taskName" id="taskName" name="taskName"
        placeholder="Implement responsive header navigation" />
    </div>
    <div class="tooltip w-full mt-5" data-tip="Click to copy">
      <button class="btn btn-lg btn-accent flex justify-between w-full" [disabled]="!branchForm.valid"
        (click)="copyBranchName()">
        <span class="overflow-hidden text-ellipsis text-nowrap">{{ branchForm.valid ? branchName() : 'Enter fields to
          generate' }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-[1.2em] shrink-0">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
        </svg>
      </button>
    </div>
  </form>

  @if (showToast()) {
  <div class="toast toast-end">
    <div class="alert alert-success">
      <span>Branch name copied!</span>
    </div>
  </div>
  }

  <dialog id="modal_branch_types" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <app-branch-types />
    </div>
  </dialog>
</main>