@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, light;
}

::placeholder {
    color: color-mix(in oklab, #100f0f 50%, transparent);
}

@media (prefers-color-scheme: dark) {
    ::placeholder {
        color: color-mix(in oklab, #ecf9ff 50%, transparent);
    }
}

.modal-box {
    max-height: calc(100dvh - 4rem);
}
